

html, body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

h1, h2, h3,h4,h5, p {
    font-family: 'Montserrat', sans-serif;
}

header {
    height: -webkit-fill-available;
}
/**   Navbar   **/
nav {
    padding-left: 3em !important;
    padding-right: 3em !important;
}

/**   Header   **/

.title {
    font-size: 4em;
    font-weight: 600;
    letter-spacing: 0.3em;
}

.subtitle {
    margin-bottom: 2.5em;
}

.summary-content {
    margin-top: -2em;
}


/**   Utils   **/

.inherit-height {
    height: inherit;
}

.margin-15{
    margin-left: 0px !important;
}

.start-align {
    text-align: start;   
}


/**   Buttons   **/

.button-contianer {
    display: flex;
    margin-left: -15px;
}

.button-primary {
    padding: 0.5em;
    width: inherit;
    border: 0;
    font-weight: 600;

    background-color: #FF4E32;
    color: white;
}

.button-secondary {
    padding: 0.5em;
    width: inherit;
    font-weight: 600;

    background-color: transparent;
    color: #FF4E32;
    border: 1px solid #FF4E32;
}

.button-white {
    padding: 0.5em;
    width: inherit;
    border: 0;
    font-weight: 600;

    background-color: white;
    color:  #FF4E32;
}

/** Section **/

.section-heading {
    text-align: center;
    padding-top: 4em;
    padding-bottom: 2.5em;
}

.section-title {
    letter-spacing: 0.3em;
    font-weight: 600;
}

.section-subtitle {
    font-size:  1.25em;
    font-weight: 600;
}

.separator {
    width: 5em;
    height: 1px;
    margin: 0 auto;
    margin-top:0.5em;
}

.info-container{
    margin: 0 auto;
    width: 29em; 
    text-align: justify;
    margin-bottom: 2.5em; 
}

.info-container-sub {
    margin: 0 auto;
    text-align: justify;
    margin-bottom: 4em; 
}

.title-question{
    text-align: center;
    padding: 0.5em;
}

/** Section - students **/

#students .section-heading div {
    margin: 0 auto !important;
}

.event-info {
    width: 50em;
    margin: 0 auto !important;
    text-align: center;
    padding-bottom: 2.5em;
}

#students .button-contianer,  #startups .button-contianer{
    margin: 0 auto !important;
}

#students button,  #startups button {
    margin-top: 1em;
    margin-bottom: 2em;
    margin-left: 5em;
    margin-right: 5em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
}

.event-info .text {
    text-align: center;
    font-weight: 600;
}

#students h3 {
    font-weight: 600;
    text-align: start;
    margin-left: 4em;
}

#students .subtitle {
    text-align: end;
    margin-right: 4em;
    margin-left: 0 auto;
}

#startups h3 {
    text-align: center;
} 

#startups .event-info {
    margin: 0 auto !important;
}



#schedule .section-heading {
    padding-bottom: 4em;
}
